
/* //////////// */
/* user nav bar */
/* //////////// */
.flex-user-nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #1d1a1a;
  overflow: scroll;
}
.flex-user-nav a {
  display: flex;
  text-decoration: none;
  padding: 20px;
  color: #ffffff;
}
.flex-user-nav a:hover {
  background-color: #00c2ff;
  color: #000000;
}
