
<section class="flex-shop-container">
  <a href="#!custom_build">
    <div class="shop-item-container">
      <img ng-src="./assets/images/parts/custom-builds.png">
      <h3>Custom Rods</h3>
    </div>
  </a>

  <a href="#!standard_build">
    <div class="shop-item-container">
      <img ng-src="./assets/images/parts/standard-builds.png">
      <h3>Standard Rods</h3>
    </div>
  </a>

  <a href="#!parts">
    <div class="shop-item-container">
      <img ng-src="./assets/images/parts/blanks.png">
      <h3>Parts & Supplies</h3>
    </div>
  </a>
</section>
