
<section class="flex-warranty-container">
  <h1>Warranty</h1>
  <p>
    Chris Offers a limited lifetime manufacturers warranty; what this means is he will replace the product if there is a determination that the blank was defective.
    While 99% of breakage occurs due to misuse, and all of our rods are hand made by Chris. Typically, his rods don't leave the shop unless they meet his strict quality control standards.
     For covered warranty repairs, you must not modify the rod once broken and have ALL the original parts.
  </p>
</section>
<section class="flex-warranty-container">
  <h1>Rod Care</h1>
  <p>
    There are a few tricks, general steps you can take to preserve the life of your noodle rod.
    Firstly, it's not a hockey stick Gretzky! no high sticking.
    Secondly, hook keepers are placed on your rod for hole hopping Not for storage.
    Your noodle is extruded glass and if stored loaded, eventually it will retain memory (be bent).
    ALWAYS STORE UNLOADED.
    Thirdly, Over-reeling; if you over reel your jig and jam it into the tip guide, your rod will bend in a way that will most likely crack the tip.
    It may not break right away, but it will break eventually. (not covered) if your rod breaks or cracks between the first and second guide, this has most likely occurred.
    BE CAREFUL and your high end fish slaying machine will last for years to come.
  </p>
</section>
<section class="flex-warranty-container">
  <h3>For further assistance, please contact Chris: <a ng-href="#!contact">HERE</a></h3>
</section>
