
<section class="flex-about-container">

  <h1> About Chris Stanton </h1>
  <section class="flex-about-bio">
    <p>

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
    </p>
  </section>

  <h1>MudHole Rod Building & Tackle Craft Affiliation</h1>
  <section class="flex-about-mudhole">
    <img ng-src="./assets/images/logos/mudhole.png">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
    </p>
  </section>

  <h1>Software Applications</h1>
  <section class="flex-about-software">
    <div class="flex-about-wrapdesigner">
      <h5>Guide Spacing Database</h5>
      <a href="https://guidespacing.herokuapp.com" target="_blank" tooltips tooltip-template='Select to try Guide Spacing Database!'><img ng-src="./assets/images/logos/guidespacingdb.png"></a>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
      </p>
    </div>
    <div class="flex-about-guidespacingdb">
      <h5>Wrap Designer: Ice Rod Edition</h5>
      <a href="https://wrapdesigner.herokuapp.com" target="_blank" tooltips tooltip-template='Select to try Wrap Designer: Ice Rod Edition!'><img ng-src="./assets/images/logos/wrapdesigner.png"></a>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet architecto provident repellendus, ratione officiis eos! Provident iure laboriosam perferendis aspernatur nesciunt tempora explicabo neque, a obcaecati, minus, harum aliquam fugit.50
      </p>
    </div>

  </section>

</section>
