
<section class="flex-sales-container">

  <h1>Ice Fishing Rods</h1>
  <section ng-repeat="item in sale.items" class="sales-output-container">
    <!-- image container -->
    <div class="sales-image-container">
      <div class="sales-image-large">
        <img ng-src="./assets/images/sale/{{item.img_0}}">
      </div>
      <div class="sales-image-small">
        <img ng-src="./assets/images/sale/{{item.img_0}}">
        <img ng-src="./assets/images/sale/{{item.img_1}}">
        <img ng-src="./assets/images/sale/{{item.img_2}}">
        <img ng-src="./assets/images/sale/{{item.img_3}}">
      </div>
    </div>

    <div class="sales-data-container">
      <table>
        <tr><th>Blank: </th><td>{{item.blank}}</td></tr>
        <tr><th>Blank Length: </th><td>{{item.blank_length}}</td></tr>
        <tr><th>Guides: </th><td>{{item.guides}}</td></tr>
        <tr><th>Guide Wraps: </th><td>{{item.guide_wraps}}</td></tr>
        <tr><th>Other Wrap: </th><td>{{item.other_wrap}}</td></tr>
      </table>


    </div>
  </section>

  <!-- <h1>Parts</h1>
  <section>


  </section> -->


</section>
