
<!-- main container -->
<section class="flex-sales-container">
  <!-- item repeat container -->
  <section ng-repeat="item in sale.items" class="sales-output-container">
    <!-- image container -->
    <div class="sales-image-container">
      <div class="sales-image-large">
        <img ng-src="./assets/images/sale/{{item.img_0}}">
      </div>
      <div class="sales-image-small">
        <img ng-src="./assets/images/sale/{{item.img_0}}">
        <img ng-src="./assets/images/sale/{{item.img_1}}">
        <img ng-src="./assets/images/sale/{{item.img_2}}">
        <img ng-src="./assets/images/sale/{{item.img_3}}">
      </div>
    </div>
    <!-- data container(specs) -->
    <div class="sales-data-container">
      <table>
        <tr><th>Blank: </th><td>{{item.blank}}</td></tr>
        <tr><th>Blank Length: </th><td>{{item.blank_length}}</td></tr>
        <tr><th>Guides: </th><td>{{item.guides}}</td></tr>
        <tr><th>Guide Wraps: </th><td>{{item.guide_wraps}}</td></tr>
        <tr><th>Other Wrap: </th><td>{{item.other_wrap}}</td></tr>
        <tr><th>Details: </th><td>{{item.notes}}</td></tr>
      </table>
    </div>
    <!-- price container -->
    <div class="sales-data-container">
      <table>
        <tr><th>Price: </th><td>${{item.price}}.00</td></tr>
        <tr><th>Sale Price: </th><td>${{item.sale_price}}.00</td></tr>
      </table>
    </div>
  <!-- end item repeat container -->
  </section>



<!--  end main container -->
</section>
