
#animation-page.ng-enter {
  transition: 0.5s ease-in all;
  transform: translateX(-100%);
  opacity: 0;
}
#animation-page.ng-enter #animation-page.ng-enter-active {
  transform: translateX(0);
  opacity: 1;
}

#animation-page.ng-leave {
  transition: 0.5s ease-out all;
  opacity: 1;
}
#animation-page.ng-leave #animation-page.ng-leave-active {
  opacity: 0;
}
