
/*////////////// */
/*/    RESET     */
/*////////////// */
* {
  padding: 0px;
  margin: 0px;
  font: 13px;
  font-family: serif sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}



/* //////////////// */
/*   INPUT ERROR    */
/* BACKGROUND COLOR */
/* //////////////// */
.background-red {
  background-color: rgba(255, 0, 0, 0.20);
  border-color: #ff0303;
}
.background-reset {
  background-color: none;
}
/* mockup img sizing */
.mac{
  width: 38vw;
  padding: 5px;
}
.iphone{
  width: 8vw;
  padding: 5px;
}



/* //////////// */
/*   LANDING    */
/* //////////// */
.flex-landing-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #1d1a1a;
}
.flex-landing-container .flex-landingHeader-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  color: #ffffff;
  background-image: url('../assets/images/backgrounds/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-landingHeader-container h1 {
  font-size: 50px;
  text-shadow: 2px 2px 2px #00c2ff;
  margin: 180px 10px 0px 0px;
  font-family: copperplate;
}
.flex-landingHeader-container h4 {
  font-size: 30px;
  text-shadow: 1px 1px 1px #00c2ff;
  font-style: italic;
  margin-top: 180px;
}
.flex-landingGallary-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0px 50px 0px;
  justify-content: center;
}
.flex-landingGallary-container a {
  cursor: default;
}
.flex-landingGallary-container img{
  height: 40vh;
  margin: 5px;
}



/* //////////// */
/*     ABOUT    */
/* //////////// */
.flex-about-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
  align-items: center;
  align-content: center;
}
.flex-about-container h1 {
  margin: 35px 0px 10px 0px;
  font-size: 46px;
  text-shadow: 2px 2px 2px #8b8b8b;
}
.flex-about-container section {
  margin-bottom: 75px;
}
.flex-about-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-shadow: 1px 1px 1px #8b8b8b;
}
.flex-about-mudhole {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-shadow: 1px 1px 1px #8b8b8b;
}
.flex-about-mudhole img {
  width: 40vw;
}
.flex-about-software {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-shadow: 1px 1px 1px #8b8b8b;
}
.flex-about-software .flex-about-wrapdesigner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-about-wrapdesigner h5 {
  margin-bottom: 8px;
  font-size: 25px;
}
.flex-about-wrapdesigner p {
  margin-top: 8px;
  width: 80%;
}
.flex-about-software .flex-about-guidespacingdb {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-about-guidespacingdb h5 {
  margin-bottom: 8px;
  font-size: 25px;
}
.flex-about-guidespacingdb p {
  margin-top: 8px;
  width: 80%;
}
.flex-about-software .about-mockup-container {
  display: flex;
  flex-direction: row;
  margin: 10px 4px;
  align-items: baseline;
}



/* ///////////// */
/*     SHOP      */
/* ///////////// */
.flex-shop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-shop-container a {
  color: #000000;
  text-decoration: none;
}
.flex-shop-container .shop-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40vh;
  border-bottom: 4px solid #000000;
}
.shop-item-container img {
  flex: 1;
  height: 40vh;
}
.shop-item-container h3 {
  flex: 2;
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 4px 4px #8b8b8b;
}
.shop-item-container h3:hover {
  text-shadow: 4px 4px 4px #00c2ff;
}



/* ///////////// */
/*     PARTS     */
/* ///////////// */
.flex-parts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-parts-container .parts-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40vh;
  border-bottom: 4px solid #000000;
}
.parts-item-container img {
  flex: 1;
  height: 40vh;
}
.parts-item-container h3 {
  flex: 2;
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 4px 4px #8b8b8b;
}
.parts-item-container h3:hover {
  text-shadow: 4px 4px 4px #00c2ff;
}



/* //////////// */
/*   CONTACT    */
/* //////////// */
.flex-contact-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin: 15px 0px;
}
.flex-contact-container p {
  font-size: 23px;
  text-align: center;
  text-shadow: 1px 1px 1px #8b8b8b;
  width: 80%;
  margin: 20px;
}
.flex-contact-container span {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.flex-contact-container label {
  font-size: 20px;
  text-shadow: 1px 1px 1px #8b8b8b;
}
.flex-contact-container input {
  height: 5vh;
  width: 70vw;
}
.flex-contact-container textarea {
  height: 15vh;
  width: 70vw;
}
/* submit button */
 .button-active {
  height: 7vh;
  width: 70vw;
  background-color: #0f5ce0;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 15px 0px 35px 0px;
}
 .button-inactive {
  height: 7vh;
  width: 70vw;
  background-color: #87acff;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 15px 0px 35px 0px;
}
 .button-active:hover {
  cursor: pointer;
}



/* //////////// */
/*   WARRANTY   */
/* //////////// */
.flex-warranty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  /* margin: 30px 0px; */
}
.flex-warranty-container h1 {
  font-size: 46px;
  text-shadow: 2px 2px 2px #8b8b8b;
  /* text-shadow: 1px 2px 2px #00c2ff; */
  margin: 35px 0px 10px 0px;
}
.flex-warranty-container p {
  width: 70vw;
  font-size: 18px;
  text-shadow: 1px 1px 1px #8b8b8b;
}
.flex-warranty-container h3 {
  margin-top: 30px;
}



/* //////////// */
/*  RESOURCES   */
/* //////////// */
.flex-resources-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  /* justify-content: center; */
  align-items: center;
}
.flex-resources-container .resources-heading {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.flex-resources-container .resources-discription {
  display: flex;
  flex-direction: column;
}
.flex-resources-container h1 {
  /* text-shadow: 2px 2px 2px #8b8b8b; */
  margin-left: 20px;
  text-shadow: 1px 2px 2px #00c2ff;
  font-size: 35px;
}
.flex-resources-container p {
  margin: 0px 10px;
  text-shadow: 1px 1px 1px #8b8b8b;
  font-size: 19px;
}
.resources-mockup-container {
  display: flex;
  flex-direction: row;
  margin: 10px 4px;
  align-items: baseline;
}
