
/*////////////// */
/*/    RESET     */
/*////////////// */
* {
  padding: 0px;
  margin: 0px;
  font: 13px;
  font-family: serif sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}
main {
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
  width: 100vw;
}



/* //////////////////// */
/*    ng-class text     */
/*   input background   */
/* //////////////////// */
.background-red {
  background-color: rgba(255, 0, 0, 0.72);
}
.background-reset {
  background-color: none;
}



/*////////////// */
/*/   LANDING    */
/*////////////// */
.landing-container {
  display: flex;
  flex-direction: column;
  /* height: 82vh; */
  width: 100vw;
  background-image: url('../assets/images/backgrounds/wood.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.landing-container h1 {
  font-size: 45px;
  margin: 45px 0px 0px 170px;
  text-shadow: 5px 5px 5px #000000;
}
.landing-container div {
  margin: 45px 120px 0px 200px;
}
.landing-container div h5 {
  font-size: 20px;
  text-shadow: 3px 3px 3px #000000;
}
.landing-container div p {
  margin: 40px 0px 0px 30px;
  text-shadow: 2px 2px 2px #000000;
  font-size: 18px;
}
.landing-container div ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.landing-container div li {
  width: 58vw;
  margin-top: 10px;
  font-size: 18px;
  text-shadow: 2px 2px 2px #000000;
}
.landing-container span {
  display: flex;
  justify-content: flex-end;
  margin: 100px 100px 110px 0px;
}
.landing-container button {
  justify-content: center;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: rgba(18, 200, 64, 0.9);
  color: #ffffff;
  font-size: 18px;
  outline: none;
}
.landing-container button:hover {
  cursor: pointer;
}







/*////////////// */
/*/   FORM-ONE   */
/*////////////// */
.flex-application-container {
  display: flex;
  flex-direction: column;
  /* height: 82vh; */
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.flex-application-container section {
  display: flex;
  flex-direction: column;
  width: 70vw;
  align-items: flex-start;
  margin: 10px 0px 20px 0px;
}
.flex-application-container div {
  display: flex;
  flex-direction: row;
  margin-top: 10px
}
.flex-application-container h1 {
  margin: 30px 0px 10px 0px;
  font-size: 45px;
  text-align: center;
  text-shadow: 2px 2px 2px #696969;
}
.flex-application-container h1:nth-last-of-type(1) {
  margin: 50px 0px 10px 0px;
  font-size: 45px;
  text-align: center;
}
.flex-application-container h3 {
  width: 80vw;
  font-size: 27px;
  margin-top: 30px;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid #000000;
}
.flex-application-container h4 {
  font-size: 17px;
  text-align: center;
}
.flex-application-container h5 {
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}
.flex-application-container h6 {
  font-size: 17px;
  margin-left: 10px;
}
.flex-application-container p {
  margin: 5px 0px 10px 0px;
  padding-left: 10px;
}
.flex-application-container li {
  margin: 10px 0px;
}
.flex-application-container input {
  height: 3vh;
  width: 12vw;
}
.flex-application-container select {
  height: 3vh;
  width: 12vw;
}
/* address */
.flex-application-container .application-address {
  margin-left: 70px;
}
.flex-application-container .application-personal .ssn-digits {
  margin-top: 0px;
}
.flex-application-container .application-personal .ssn-digits input {
  height: 3vh;
  width: 35px;
}
/* education */
.flex-application-container .application-highSchoolDetails {
  margin: 3px 0px 25px 0px;
}
.flex-application-container .application-collegeDetails {
  margin: 3px 0px 25px 0px;
}
.flex-application-container .application-otherDetails {
  margin: 3px 0px 25px 0px;
}
/* referances */
.flex-application-container .application-referanceDetails_1 {
  margin-top: 10px;
}
.flex-application-container .application-referanceAddress_1 {
  margin-bottom: 30px;
}
.flex-application-container .application-referanceAddress_2 {
  margin-bottom: 30px;
}
/* pervious job history */
.flex-application-container .application-previousJobContact_1 {
  margin-bottom: 30px;
}
.flex-application-container .application-previousJobContact_2 {
  margin-bottom: 30px;
}
/* emergency contact */
.flex-application-container .application-emergencyAddress_1 {
  margin-bottom: 30px;
}
/* background doc start */
.flex-background-container ul {
  margin-left: 30px;
}
.flex-background-container .background-awknowledge {
  margin-top: 50px;
}
/* signature inputs */
.flex-application-container span {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 32px 0px 15px 0px;
}
.flex-application-container .sigInput {
  height: 5vh;
  width: 30vw;
  border-radius: 4px;
  border-color: #000000;
}
/* submit button */
.flex-application-container .button-active {
  height: 7vh;
  width: 50vw;
  background-color: #0f5ce0;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 15px 0px 100px 0px;
}
.flex-application-container .button-inactive {
  height: 7vh;
  width: 50vw;
  background-color: #87acff;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 15px 0px 100px 0px;
}
.flex-application-container .button-active:hover {
  cursor: pointer;
}






/*//////////////// */
/*/    FORM-TWO    */
/*//////////////// */
.flex-drugAlcohol-container {
  display: flex;
  flex-direction: column;
  /* height: 82vh; */
  width: 100vw;
  align-items: center;
}
.flex-drugAlcohol-container h1 {
  margin: 50px 0px 15px 0px;
  font-size: 40px;
  text-shadow: 2px 2px 2px #696969;
  text-align: center;
}
.flex-drugAlcohol-container h4 {
  font-size: 25px;
  text-align: center;
}
.flex-drugAlcohol-container h5 {
  width: 70vw;
  font-size: 20px;
  text-align: left;
}
.flex-drugAlcohol-container h6 {
  width: 67vw;
  font-size: 17px;
  text-align: left;
  margin-top: 20px;
}
.flex-drugAlcohol-container p {
  width: 65vw;
  font-size: 15px;
  margin: 8px 0px;
}
.flex-drugAlcohol-container ul {
  width: 60vw;
  font-size: 15px;
  text-align: left;
}
.flex-drugAlcohol-container span {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}
.flex-drugAlcohol-container input {
  height: 5vh;
  width: 30vw;
  border-radius: 4px;
  border-color: #000000;
}
.flex-drugAlcohol-container .button-active {
  height: 7vh;
  width: 50vw;
  background-color: #0f5ce0;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 15px 0px 100px 0px;
}
.flex-drugAlcohol-container .button-active:hover {
  cursor: pointer;
}
.flex-drugAlcohol-container .button-inactive {
  height: 7vh;
  width: 50vw;
  background-color: #87acff;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 15px 0px 100px 0px;
}






/*//////////////// */
/*/   FORM-THREE   */
/*//////////////// */
.flex-form_three-container {
  display: flex;
  flex-direction: column;
  /* height: 82vh; */
  width: 100vw;
  align-items: center;
}
.flex-form_three-container h1 {
  margin: 50px 0px 30px 0px;
  font-size: 45px;
  text-shadow: 2px 2px 2px #696969;
  text-align: center;
}
.flex-form_three-container h5 {
  width: 70vw;
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
}
.flex-form_three-container h6 {
  width: 67vw;
  font-size: 17px;
  text-align: left;
  margin-top: 20px;
}
.flex-form_three-container p {
  width: 65vw;
  font-size: 15px;
  margin: 8px 0px;
}
.flex-form_three-container ul {
  width: 60vw;
  font-size: 15px;
  text-align: left;
}
.flex-form_three-container li {
  margin: 3px;
}
.flex-form_three-container textarea {
  height: 15vh;
  width: 50vw;
  margin-bottom: 50px;
}
.flex-form_three-container .checkbox-ul {
  list-style: none;
}
.flex-form_three-container .checkbox {
  width: 15px;
}
/* EPA Styling */
.flex-form_three-container .earnLose-container {
  display: flex;
  flex-direction: row;
}
.flex-form_three-container .earnLose-container .earn{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 30vw;
}
.flex-form_three-container .earnLose-container .lose{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 30vw;
}
.flex-form_three-container .earnLose-container h5 {
  text-align: center;
  width: 20vw;
}
.flex-form_three-container .earnLose-container h6 {
  text-align: center;
  width: 25vw;
  font-size: 14px;
}
.flex-form_three-container .earnLose-container p {
  width: 30vw;
}
.flex-form_three-container .earn div{
  display: flex;
  flex-direction: row;
  border: 1px solid #000000;
  margin-right: 2px;
  padding: 1px;
  align-items: center;
}
.flex-form_three-container .lose div{
  display: flex;
  flex-direction: row;
  border: 1px solid #000000;
  margin-left: 2px;
  padding: 1px;
  align-items: center;
}
/* annual hours table styling */
.flex-form_three-container .table-title {
  margin: 20px 0px 10px 0px;
  font-size: 18px;
}
.flex-form_three-container table{
  border: 1px solid #000000;
  margin: 0px;
}
.flex-form_three-container table td{
  border: 1px solid #000000;
  padding: 4px;
}
/* signature inputs */
.flex-form_three-container span {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 35px 0px;
}
.flex-form_three-container input {
  height: 5vh;
  width: 30vw;
  border-radius: 4px;
  border-color: #000000;
}
/* submit button */
.flex-form_three-container .button-active {
  height: 7vh;
  width: 50vw;
  background-color: #0f5ce0;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 35px 0px 100px 0px;
}
.flex-form_three-container .button-active:hover {
  cursor: pointer;
}
.flex-form_three-container .button-inactive {
  height: 7vh;
  width: 50vw;
  background-color: #87acff;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 35px 0px 100px 0px;
}





/*/////////////// */
/*/   FORM-FOUR   */
/*/////////////// */
.flex-policiesProcedures-container {
  display: flex;
  flex-direction: column;
  /* height: 82vh; */
  width: 100vw;
  align-items: center;
}
.flex-policiesProcedures-container h1 {
  margin-top: 50px;
  font-size: 45px;
  text-shadow: 2px 2px 2px #696969;
  text-align: center;
}
.flex-policiesProcedures-container h5 {
  width: 70vw;
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
}
.flex-policiesProcedures-container h6 {
  width: 67vw;
  font-size: 17px;
  text-align: left;
  margin-top: 20px;
}
.flex-policiesProcedures-container p {
  width: 65vw;
  font-size: 15px;
  margin: 8px 0px;
}
.flex-policiesProcedures-container ul {
  width: 60vw;
  font-size: 15px;
  text-align: left;
}
.flex-policiesProcedures-container li {
  margin: 3px;
}
.flex-policiesProcedures-container .list-indent {
  padding-left: 30px;
}
.flex-policiesProcedures-container span {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 80px 0px;
}
.flex-policiesProcedures-container input {
  height: 5vh;
  width: 30vw;
  border-radius: 4px;
  border-color: #000000;
}
.flex-policiesProcedures-container .button-active {
  height: 7vh;
  width: 50vw;
  background-color: #0f5ce0;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 15px 0px 100px 0px;
}
.flex-policiesProcedures-container .button-active:hover {
  cursor: pointer;
}
.flex-policiesProcedures-container .button-inactive {
  height: 7vh;
  width: 50vw;
  background-color: #87acff;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 15px 0px 100px 0px;
}





/*/////////////// */
/*/   FORM-FIVE   */
/*/////////////// */
.flex-rule3-container {
  display: flex;
  flex-direction: column;
  height: 82vh;
  width: 100vw;
  align-items: center;
}
.flex-rule3-container h1 {
  margin-top: 50px;
  font-size: 45px;
  text-shadow: 2px 2px 2px #696969;
  text-align: center;
}
.flex-rule3-container h5 {
  width: 70vw;
  font-size: 20px;
  text-align: center;
  margin: 30px 0px;
}
.flex-rule3-container a {
  margin-top: 150px;
}
.flex-rule3-container p {
  width: 65vw;
  font-size: 15px;
  margin: 8px 0px;
}
.flex-rule3-container span {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 60px 0px;
}
.flex-rule3-container input {
  height: 5vh;
  width: 30vw;
  border-radius: 4px;
  border-color: #000000;
}
.flex-rule3-container .button-active {
  height: 7vh;
  width: 50vw;
  margin-top: 15px;
  background-color: #0f5ce0;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
}
.flex-rule3-container .button-inactive {
  height: 7vh;
  width: 50vw;
  margin-top: 15px;
  background-color: #87acff;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
}
.flex-rule3-container .button-active:hover {
  cursor: pointer;
}





/*////////////// */
/*/   FORM-SIX   */
/*////////////// */
.flex-SUIDAHT-container {
  display: flex;
  flex-direction: column;
  /* height: 82vh; */
  width: 100vw;
  align-items: center;
  overflow: scroll;
}
.flex-SUIDAHT-container h1 {
  margin: 50px 0px 30px 0px;
  font-size: 45px;
  text-align: center;
  text-shadow: 2px 2px 2px #696969;
}
.flex-SUIDAHT-container h5 {
  width: 70vw;
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
}
.flex-SUIDAHT-container h6 {
  width: 67vw;
  font-size: 17px;
  text-align: left;
  margin-top: 20px;
}
.flex-SUIDAHT-container p {
  width: 65vw;
  font-size: 15px;
  margin: 8px 0px;
}
.flex-SUIDAHT-container ul {
  width: 60vw;
  font-size: 15px;
  text-align: left;
  /* margin-top: 30px; */
}
.flex-SUIDAHT-container span {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 50px 0px;
}
.flex-SUIDAHT-container input {
  height: 5vh;
  width: 30vw;
  border-radius: 4px;
  border-color: #000000;
}
.flex-SUIDAHT-container .button-active {
  height: 7vh;
  width: 50vw;
  background-color: #0f5ce0;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 15px 0px 100px 0px;
}
.flex-SUIDAHT-container .button-active:hover {
  cursor: pointer;
}
.flex-SUIDAHT-container .button-inactive {
  height: 7vh;
  width: 50vw;
  background-color: #87acff;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  margin: 15px 0px 100px 0px;
}




/*////////////// */
/*/   COMPLETE   */
/*////////////// */
.complete-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 82vh;
  width: 100vw;
  background-image: url('../assets/images/backgrounds/wood.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.complete-container h1 {
  margin: 25px 0px 10px 0px;
  font-size: 60px;
  text-shadow: 5px 5px 5px #000000;
}
.complete-container h2 {
  text-shadow: 3px 3px 3px #000000;
}
.complete-container img {
  height: 20vh;
  box-shadow: 2px 2px 2px #000000;
  border-radius: 65px;
}
.complete-container h2 {
  margin: 10px 0px 10px 0px;
  font-size: 30px;
  font-family: fantasy;
}
.complete-container p {
  margin: 70px 0px 0px 0px;
  font-size: 20px;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
}
.complete-container div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
  margin-top: 70px;
}
.complete-container div img {
  height: 6vh;
  margin: 0px 5px;
  box-shadow: 2px 2px 2px #000000;
  border-radius: 28px;
}




/*////////////// */
/*/   CONTACT    */
/*////////////// */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 82vh;
  width: 100vw;
  background-image: url('../assets/images/backgrounds/wood.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* color: #ffffff; */
}
.contact-container h1 {
  margin-top: 30px;
  color: #ffffff;
  font-size: 40px;
  text-shadow: 5px 5px 5px #000000;
}
.contact-container .contact-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 30px 0px 50px 0px;
  background-color: rgba(226, 226, 226, 0.3);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #201b1b;
  /* background-color: #ffffff; */
}
.contact-container .contact-form .contact-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contact-container .contact-form .contact-input-container span {
  margin: 20px;
}
.contact-form .contact-input-container span label {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}
.contact-form .contact-input-container span input {
  height: 20px;
  width: 150px;
}
.contact-container .contact-form .contact-textarea-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}
.contact-container .contact-form .contact-textarea-container label {
  font-size: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
}
.contact-container .contact-form .contact-textarea-container textarea {
  height: 100%;
  width: 80%;
}
.contact-container .contact-form .contact-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  width: 90%;
}
.contact-container .contact-form .contact-button-container button {
  justify-content: center;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #1c44d0;
  color: #ffffff;
  font-size: 18px;
  outline: none;
}
.contact-container .contact-form .contact-button-container button:hover {
  cursor: pointer;
}
