
@media(max-width: 850px) {
  /* /////////////// */
  /*    ALL VIEWS    */
  /* /////////////// */
  .mac{
    width: 50vw;
    padding: 5px;
  }
  .iphone{
    width: 14vw;
    padding: 5px;
  }



  /* /////////////// */
  /*   USER NAV BAR  */
  /* /////////////// */
  .flex-user-nav .flex-navmain-container {
    flex-direction: column;
    margin-left: 10px;
  }
  .flex-user-nav .flex-navmain-container a {
    width: 100%;
    padding: 8px 0px;
  }
  .flex-user-nav .flex-navlanding-container {
    flex: 3;
    align-items: center;
  }
  .flex-landingGallary-container img{
    height: 20vh;
  }



  /* //////////// */
  /*   WARRANTY   */
  /* //////////// */
  .flex-warranty-container {
    margin: 0px 0px 60px 0px;
  }




  /* //////////// */
  /*    ABOUT     */
  /* //////////// */
  .flex-about-software {
    flex-direction: column;
  }




  /* //////////// */
  /*   RESOURCES  */
  /* //////////// */
  .flex-resources-container {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 30px 10px 50px 0px;
  }
  .flex-resources-container .resources-heading {
    align-items: center;
  }
  .flex-resources-container h1 {
    margin: 0px 10px;
    font-size: 28px;
    text-align: center;
  }
  .flex-resources-container p {
    margin: 0px 20px;
    font-size: 18px;
    text-align: center;
  }





/* end media query */
}
