
@media(max-width: 850px) {

/* LANDING VIEW TEMPLATE */
  .landing-container {
    overflow: scroll;
  }
  .landing-container h1 {
    font-size: 40px;
    margin: 35px 0px 0px 20px;
  }
  .landing-container div {
    margin: 30px 30px 0px 30px;
  }
  .landing-container div h5 {
    font-size: 18px;
  }
  .landing-container div p {
    margin: 20px 0px 0px 0px;
  }
  .landing-container span {
    justify-content: center;
    margin: 60px 0px 0px 0px;
    padding-bottom: 70px;
  }





/* MAIN VIEW */
  form section {
    width: 80%;
  }





/* COMPLETE VIEW TEMPLATE */
  .complete-container {
    overflow: scroll;
  }
  .complete-container div {
    width: 90%;
    margin: 50px 0px 10px 0px;
  }






/* CONTACT VIEW */
  .contact-container {
    /* overflow: scroll; */
  }
  .contact-container .contact-form {
    overflow: scroll;
    height: 100%;
    width: 90%;
    margin: 30px 0px 20px 0px;
  }
  .contact-container .contact-form .contact-input-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-container .contact-form .contact-textarea-container {
    margin-top: 40px;
  }
  .contact-container .contact-form .contact-textarea-container label {
    font-size: 25px;
  }
  .contact-container .contact-form .contact-button-container {
    margin-top: 10px;
    margin-bottom: 30px;
  }

/* form one */
.flex-application-container section {
  width: 85vw;
  align-items: center;
}
.flex-application-container div {
  display: flex;
  flex-direction: column;
  /* text-align: left; */
}
.flex-application-container input {
  height: 5vh;
  width: 65vw;
}
.flex-application-container select {
  height: 4vh;
  width: 65vw;
}
.flex-application-container .ssn-digits {
  display: flex;
  flex-direction: row;
}
.flex-application-container .application-personal .ssn-digits input {
  height: 5vh;
  width: 50px;
}
.flex-application-container .application-address {
  margin: 3px 0px 3px 0px;
}


/* end media query */
}
