
<nav ng-include="'./views/templates/partials/admin-nav.html'"></nav>
<section class="flex-admin-gallaryDetail-container" ng-repeat="imageDetail in agic.imageDetails.list">
  <div class="flex-galleryEdit-container">
    <a class="cursor-pointer"ng-click="">
      <div class="flex-galleryEdit-sub-column img-column">
        <img ng-src="{{imageDetail.image}}">
        <span class="upload-button"> Upload </span>
      </div>
    </a>
    <div class="flex-galleryEdit-sub-column">
      <textarea ng-model="imageDetail.tooltip"></textarea>
      <p>
        *IMPORTANT: Click the picture to upload/replace current image.
        Text above is the image tooltip.
        Updating shall only be done by authorized personal ONLY. Anyone else tampering/changing data will be terminated.
      </p>
    </div>
  </div>
  <button type="button" ng-if="agic.buttonStatus === 'active'" ng-click="agic.updateGallaryImage(imageDetail)" class="update-button-active"> Update </button>
  <button type="button" ng-if="agic.buttonStatus === 'inactive'" ng-click="agic.updateGallaryImage(imageDetail)" class="update-button-inactive"><img ng-src="./assets/images/loaders/load.gif"></button>
</section>
