
<nav ng-include="'./views/templates/partials/admin-nav.html'"></nav>
<section class="flex-adminInventory-container">
  <h2>Click item to update details</h2>
  <section class="flex-adminInventoryItem-container" ng-repeat="item_detail in aic.inventoryItems.list" ng-click="aic.specificInventoryItem(item_detail.id)">
    <a tooltips tooltip-template-url="../../../views/templates/tooltips/admin_inventory-tooltip.html"><img ng-src="../assets/images/sale/{{item_detail.img_0}}" class="adminInventory-view-image"></a>
    <div>
      <span><h4>Original Price: $</h4><p> {{item_detail.price}}</p></span>
      <span><h4>Sale Price: $</h4><p> {{item_detail.sale_price}}</p></span>
    </div>
    <span><h4>Quantity: </h4><p>{{item_detail.available}}</p></span>
    <span><h4>Details: </h4><p>{{item_detail.details}}</p></span>
    <span><h4>Active: </h4><p>{{item_detail.sale_active}}</p></span>
  </section>
</section>
