
<section class="flex-adminInventoryItem-container">
  <section class="flex-adminInventoryItemDetails-container" ng-repeat="item in aiic.specificItem.list">
    <h6>ID: {{item.id}}</h6>
    <div class="flex-specificItemImages-container">
      <span><h5>Main Thumbnail</h5><img src="../../assets/images/sale/{{item.img_0}}"></span>
      <span><h5>Sub 1 Thumbnail</h5><img src="../../assets/images/sale/{{item.img_1}}"></span>
      <span><h5>Sub 2 Thumbnail</h5><img src="../../assets/images/sale/{{item.img_2}}"></span>
      <span><h5>Sub 3 Thumbnail</h5><img src="../../assets/images/sale/{{item.img_3}}"></span>
    </div>
  </section>
</section>
