
<section class="flex-adminInventoryItem-container">
  <section class="flex-adminInventoryItemDetails-container" ng-repeat="item in aiic.specificItem.list">
    <h6>ID: {{item.id}}</h6>
    <div class="flex-specificItemImages-container">
      <span><h5>Main Thumbnail</h5><img src="../../assets/images/sale/{{item.img_0}}"></span>
      <span><h5>Sub 1 Thumbnail</h5><img src="../../assets/images/sale/{{item.img_1}}"></span>
      <span><h5>Sub 2 Thumbnail</h5><img src="../../assets/images/sale/{{item.img_2}}"></span>
      <span><h5>Sub 3 Thumbnail</h5><img src="../../assets/images/sale/{{item.img_3}}"></span>
    </div>
    <div class="flex-specificItemSpec-container">
      <span><h5>Blank</h5><input type="text" name="blank"></span>
      <span><h5>Overall Length</h5><input type="text" name="length"></span>
      <span><h5>Guides</h5><input type="text" name="guide"></span>
      <span><h5>Handle</h5><input type="text" name="handle"></span>
      <span><h5>Wraps</h5><input type="text" name="blank"></span>
    </div>
  </section>
</section>




<!-- ID blank length guide handle wrap price sale_price sale_active img_0 img_1 img_2 img_3 details available active -->
