
<section class="locations-tooltip-container">
  <span><h4> Apple Valley </h4><h6> (952) 431-7998 </h6></span>
  <span><h4> Burnsville </h4><h6> (952) 707-1814 </h6></span>
  <span><h4> Baby Bananas </h4><h6> (952) 707-1814 </h6></span>
  <span><h4> Farmington </h4><h6> (651) 460-8488 </h6></span>
  <span><h4> Lakeville-East </h4><h6> (952) 683-9200 </h6></span>
  <span><h4> Lakeville-west </h4><h6> (952) 236-0237 </h6></span>
  <span><h4> Northfield </h4><h6> (507) 645-5050 </h6></span>
</section>
